In [1]:
import psycopg2
import json

# Подключение
conn = psycopg2.connect(
    dbname="postgres",
    user="db_user",
    password="12345678",
    host="localhost",
    port="5432")

In [2]:
cursor = conn.cursor()

# создание таблицы
create_table_query = '''
CREATE TABLE numbers (
    id SERIAL PRIMARY KEY,
    value INTEGER
)
'''
cursor.execute(create_table_query)
conn.commit()

# отключаемся
cursor.close()
conn.close()

DuplicateTable: ОШИБКА:  отношение "numbers" уже существует

In [5]:
import json

# Подключение
conn = psycopg2.connect(
    dbname="postgres",
    user="db_user",
    password="12345678",
    host="localhost",
    port="5432")

cursor = conn.cursor()

# читаем данные
with open('f_data.json') as file:
    numbers = json.load(file)

# вставляем в базу
for number in numbers:
    cursor.execute('INSERT INTO numbers (value) VALUES (%s)', (number,))

# сохраняем
conn.commit()

cursor.close()
conn.close()

In [6]:
conn = psycopg2.connect(
    dbname="postgres",
    user="db_user",
    password="12345678",
    host="localhost",
    port="5432")

cursor = conn.cursor()

# выбираем все значения из таблицы
cursor.execute('SELECT * FROM numbers')
rows = cursor.fetchall()

# печатаем
for row in rows:
    print(row)

cursor.close()
conn.close()

(1, 447)
(2, 314)
(3, 929)
(4, 498)
(5, 290)
(6, 471)
(7, 556)
(8, 334)
(9, 875)
(10, 644)
(11, 394)
(12, 9)
(13, 316)
(14, 348)
(15, 299)
(16, 958)
(17, 836)
(18, 299)
(19, 124)
(20, 330)
(21, 795)
(22, 773)
(23, 222)
(24, 432)
(25, 143)
(26, 99)
(27, 929)
(28, 651)
(29, 580)
(30, 850)
(31, 429)
(32, 154)
(33, 521)
(34, 917)
(35, 153)
(36, 485)
(37, 780)
(38, 824)
(39, 659)
(40, 921)
(41, 672)
(42, 754)
(43, 780)
(44, 832)
(45, 105)
(46, 457)
(47, 270)
(48, 232)
(49, 531)
(50, 360)
(51, 836)
(52, 401)
(53, 697)
(54, 73)
(55, 217)
(56, 748)
(57, 739)
(58, 763)
(59, 396)
(60, 940)
(61, 699)
(62, 660)
(63, 782)
(64, 462)
(65, 356)
(66, 511)
(67, 506)
(68, 837)
(69, 246)
(70, 722)
(71, 986)
(72, 434)
(73, 709)
(74, 945)
(75, 713)
(76, 476)
(77, 952)
(78, 850)
(79, 846)
(80, 890)
(81, 256)
(82, 119)
(83, 326)
(84, 960)
(85, 742)
(86, 436)
(87, 127)
(88, 86)
(89, 740)
(90, 176)
(91, 648)
(92, 345)
(93, 23)
(94, 341)
(95, 674)
(96, 982)
(97, 434)
(98, 918)
(99, 842)
(100, 198)

In [7]:
conn = psycopg2.connect(
    dbname="postgres",
    user="db_user",
    password="12345678",
    host="localhost",
    port="5432")

cursor = conn.cursor()

# вычисляем сумму значений столбца
cursor.execute('SELECT SUM(value) FROM numbers')
sum_result = cursor.fetchone()[0]
print("Сумма значений столбца 'value':", sum_result)

# вычисляем среднее значения столбца
cursor.execute('SELECT AVG(value) FROM numbers')
avg_result = cursor.fetchone()[0]
print("Среднее значение столбца 'value':", avg_result)

cursor.close()
conn.close()

Сумма значений столбца 'value': 54346
Среднее значение столбца 'value': 543.4600000000000000

In [8]:
conn = psycopg2.connect(
    dbname="postgres",
    user="db_user",
    password="12345678",
    host="localhost",
    port="5432")

cursor = conn.cursor()

# создаем вью содержащее только четные числа
create_view_query = '''
CREATE VIEW even_numbers_view AS
SELECT * FROM numbers WHERE value % 2 = 0
'''
cursor.execute(create_view_query)
conn.commit()

# получаем данные в переменную
cursor.execute('SELECT * FROM even_numbers_view')
rows = cursor.fetchall()

# печатаем 
for row in rows:
    print(row)

cursor.close()
conn.close()

(2, 314)
(4, 498)
(5, 290)
(7, 556)
(8, 334)
(10, 644)
(11, 394)
(13, 316)
(14, 348)
(16, 958)
(17, 836)
(19, 124)
(20, 330)
(23, 222)
(24, 432)
(29, 580)
(30, 850)
(32, 154)
(37, 780)
(38, 824)
(41, 672)
(42, 754)
(43, 780)
(44, 832)
(47, 270)
(48, 232)
(50, 360)
(51, 836)
(56, 748)
(59, 396)
(60, 940)
(62, 660)
(63, 782)
(64, 462)
(65, 356)
(67, 506)
(69, 246)
(70, 722)
(71, 986)
(72, 434)
(76, 476)
(77, 952)
(78, 850)
(79, 846)
(80, 890)
(81, 256)
(83, 326)
(84, 960)
(85, 742)
(86, 436)
(88, 86)
(89, 740)
(90, 176)
(91, 648)
(95, 674)
(96, 982)
(97, 434)
(98, 918)
(99, 842)
(100, 198)

In [9]:
conn = psycopg2.connect(
    dbname="postgres",
    user="db_user",
    password="12345678",
    host="localhost",
    port="5432")
cursor = conn.cursor()

# создание таблицы
create_table_query = '''
CREATE TABLE numbers_01 (
    id SERIAL PRIMARY KEY,
    value INTEGER
)
'''
cursor.execute(create_table_query)
conn.commit()

# отключаемся
cursor.close()
conn.close()

In [19]:
conn = psycopg2.connect(
    dbname="postgres",
    user="db_user",
    password="123456
    host="localhost",
    port="5432")

cursor = conn.cursor()

# читаем данные
with open('f_data1.json') as file:
    numbers = json.load(file)

# вставляем в базу
for number in numbers:
    cursor.execute('INSERT INTO numbers_01 (value) VALUES (%s)', (number,))

# сохраняем
conn.commit()

# за одно создаем по нем индекс
index_creation_query = 'CREATE INDEX idx_numbers_value ON numbers(value);'
cursor.execute(index_creation_query)
conn.commit()

cursor.close()
conn.close()

In [16]:
conn = psycopg2.connect(
    dbname="postgres",
    user="db_user",
    password="12345678",
    host="localhost",
    port="5432")

cursor = conn.cursor()

# выбираем все значения из таблицы
cursor.execute('SELECT * FROM numbers_01')
rows = cursor.fetchall()

# печатаем
for row in rows:
    print(row)

cursor.close()
conn.close()

(1, 909)
(2, 403)
(3, 193)
(4, 371)
(5, 385)
(6, 661)
(7, 504)
(8, 497)
(9, 708)
(10, 263)
(11, 67)
(12, 189)
(13, 424)
(14, 979)
(15, 483)
(16, 578)
(17, 591)
(18, 139)
(19, 783)
(20, 840)
(21, 115)
(22, 381)
(23, 428)
(24, 114)
(25, 424)
(26, 265)
(27, 9)
(28, 22)
(29, 225)
(30, 719)
(31, 874)
(32, 584)
(33, 447)
(34, 376)
(35, 81)
(36, 965)
(37, 56)
(38, 676)
(39, 653)
(40, 992)
(41, 940)
(42, 228)
(43, 172)
(44, 183)
(45, 554)
(46, 716)
(47, 709)
(48, 379)
(49, 347)
(50, 130)
(51, 825)
(52, 696)
(53, 120)
(54, 618)
(55, 346)
(56, 967)
(57, 135)
(58, 426)
(59, 480)
(60, 783)
(61, 615)
(62, 902)
(63, 942)
(64, 181)
(65, 588)
(66, 207)
(67, 510)
(68, 460)
(69, 854)
(70, 852)
(71, 391)
(72, 930)
(73, 303)
(74, 827)
(75, 643)
(76, 558)
(77, 47)
(78, 102)
(79, 855)
(80, 757)
(81, 968)
(82, 598)
(83, 193)
(84, 849)
(85, 76)
(86, 215)
(87, 962)
(88, 286)
(89, 747)
(90, 121)
(91, 592)
(92, 330)
(93, 811)
(94, 787)
(95, 587)
(96, 597)
(97, 718)
(98, 69)
(99, 24)
(100, 913)

In [18]:
conn = psycopg2.connect(
    dbname="postgres",
    user="db_user",
    password="12345678",
    host="localhost",
    port="5432")

cursor = conn.cursor()

# собираем две таблицы в вью
query = '''
    CREATE OR REPLACE VIEW joined_view AS
    SELECT n1.id AS id_1, n1.value AS value_1, n2.id AS id_2, n2.value AS value_2
    FROM numbers AS n1
    JOIN numbers_01 AS n2 ON n1.id = n2.id;
'''

cursor.execute(query)
conn.commit()

# Выполнение запроса для вывода содержимого представления
cursor.execute('SELECT * FROM joined_view')

# Получение результатов запроса
rows = cursor.fetchall()

# Вывод результатов на экран
for row in rows:
    print(row)

cursor.close()
conn.close()

(1, 447, 1, 909)
(2, 314, 2, 403)
(3, 929, 3, 193)
(4, 498, 4, 371)
(5, 290, 5, 385)
(6, 471, 6, 661)
(7, 556, 7, 504)
(8, 334, 8, 497)
(9, 875, 9, 708)
(10, 644, 10, 263)
(11, 394, 11, 67)
(12, 9, 12, 189)
(13, 316, 13, 424)
(14, 348, 14, 979)
(15, 299, 15, 483)
(16, 958, 16, 578)
(17, 836, 17, 591)
(18, 299, 18, 139)
(19, 124, 19, 783)
(20, 330, 20, 840)
(21, 795, 21, 115)
(22, 773, 22, 381)
(23, 222, 23, 428)
(24, 432, 24, 114)
(25, 143, 25, 424)
(26, 99, 26, 265)
(27, 929, 27, 9)
(28, 651, 28, 22)
(29, 580, 29, 225)
(30, 850, 30, 719)
(31, 429, 31, 874)
(32, 154, 32, 584)
(33, 521, 33, 447)
(34, 917, 34, 376)
(35, 153, 35, 81)
(36, 485, 36, 965)
(37, 780, 37, 56)
(38, 824, 38, 676)
(39, 659, 39, 653)
(40, 921, 40, 992)
(41, 672, 41, 940)
(42, 754, 42, 228)
(43, 780, 43, 172)
(44, 832, 44, 183)
(45, 105, 45, 554)
(46, 457, 46, 716)
(47, 270, 47, 709)
(48, 232, 48, 379)
(49, 531, 49, 347)
(50, 360, 50, 130)
(51, 836, 51, 825)
(52, 401, 52, 696)
(53, 697, 53, 120)
(54, 73, 54, 618)
(55, 217, 55, 346)
(56, 748, 56, 967)
(57, 739, 57, 135)
(58, 763, 58, 426)
(59, 396, 59, 480)
(60, 940, 60, 783)
(61, 699, 61, 615)
(62, 660, 62, 902)
(63, 782, 63, 942)
(64, 462, 64, 181)
(65, 356, 65, 588)
(66, 511, 66, 207)
(67, 506, 67, 510)
(68, 837, 68, 460)
(69, 246, 69, 854)
(70, 722, 70, 852)
(71, 986, 71, 391)
(72, 434, 72, 930)
(73, 709, 73, 303)
(74, 945, 74, 827)
(75, 713, 75, 643)
(76, 476, 76, 558)
(77, 952, 77, 47)
(78, 850, 78, 102)
(79, 846, 79, 855)
(80, 890, 80, 757)
(81, 256, 81, 968)
(82, 119, 82, 598)
(83, 326, 83, 193)
(84, 960, 84, 849)
(85, 742, 85, 76)
(86, 436, 86, 215)
(87, 127, 87, 962)
(88, 86, 88, 286)
(89, 740, 89, 747)
(90, 176, 90, 121)
(91, 648, 91, 592)
(92, 345, 92, 330)
(93, 23, 93, 811)
(94, 341, 94, 787)
(95, 674, 95, 587)
(96, 982, 96, 597)
(97, 434, 97, 718)
(98, 918, 98, 69)
(99, 842, 99, 24)
(100, 198, 100, 913)